@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif, "Crete Round", 'Inter';
}

body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #172b4d; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #36b37e; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

body::-webkit-scrollbar-thumb:active {
  background-color: #008552;
}

body::-webkit-scrollbar:hover {
  width: 15px;
}

.navigation {
  height: 48px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  position: fixed;
  z-index: 100;
}

.logo {
  width: 114px;
  height: 48px;
  margin-left: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo > h3 {
  width: 90px;
  height: 28px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-left: 12px;
}

.menu {
  background-image: url(./icons/Union.png);
  width: 18px;
  height: 12px;
  margin: 18px 12px;
  margin-right: 24px;
}

.headline-section {
  height: 651px;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 48px;
}

aside img {
  margin-top: -75px;
}

footer div img {
  display: none;
}

.illustration-mobile > img {
  width: 100%;
  height: 648px;
  position: absolute;
  z-index: -1;
}

.heading-text {
  height: 192px;
  margin: 0 24px;
  margin-top: 64px;
  margin-bottom: 0;
  text-align: center;
}

.heading-text > h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 0;
}

.h-green {
  color: #36b37e;
}

.supporting-text {
  margin: 0 24px;
  height: 164px;
  margin-top: 58px;
  margin-bottom: 0;
}

.supporting-text > p {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.social-icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 24px;
  margin-top: 58px;
  padding: 0;
}

.social-icons > li {
  margin-right: 16px;
}

.action-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 48px;
  margin: 0 24px;
  margin-top: 34px;
}

.text > img {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.icon > img {
  margin-top: 16px;
  position: absolute;
}

.action-btn > a > img {
  height: 40px;
  width: 40px;
  margin-top: 4px;
}

main {
  display: flex;
  height: 3238px;
  justify-content: center;
}

.text {
  display: flex;
  height: 125px;
  width: 100%;
  margin: 0 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text > h2 {
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
}

.work-container {
  position: absolute;
  display: grid;
  grid-template-columns: auto;
  gap: 24px;
  margin-top: 204px;
}

.card-item {
  display: flex;
  height: 474px;
  width: 327px;
  border-radius: 8px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  font-size: 30px;
  flex-direction: column;
  justify-content: flex-end;
}

.text-box {
  height: 222px;
  border-radius: 8px;
  padding: 16px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  justify-content: space-between;
}

.project-title {
  width: 295px;
  height: 57px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
  margin: 0;
}

.project-tag {
  width: 305px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.project-tag > li {
  height: auto;
  padding: 8px 12px;
  display: block;
  background: #ebf0ee;
  border-radius: 4px;
  list-style: none;
}

.about-me-text > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.project-tag > li > p {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.project-btn-sec {
  width: 305px;
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-btn-sec > button {
  color: white;
  border: none;
  padding: 12px;
  width: 122px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 333px;
}

.about-me-text > button {
  background: #36b37f;
  border-radius: 4px;
  width: 159px;
  height: 48px;
  border: none;
  letter-spacing: 0.03em;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.project-btn-sec > button:active {
  background: #008552;
}

.about-me-illustration {
  top: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.img-1 {
  margin-top: -62px;
  float: right;
  width: 68px;
  height: 127px;
}

.img-2 {
  margin-top: 279px;
  float: left;
  width: 72.52px;
  height: 55.87px;
}

#about-me {
  position: absolute;
  height: 1625px;
  width: 100%;
  top: 3927px;
}

.about-me-text > h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 0;
}

.about-me-text > button:active {
  background: #008552;
}

.about-me-card {
  width: 98%;
  height: 1106px;
  display: grid;
  gap: 24px;
  justify-content: center;
  margin-top: 48px;
}

.languages,
.frameworks,
.skills {
  height: 352px;
  width: 327px;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.icon {
  display: flex;
  width: 327px;
  height: 128px;
  flex-direction: row;
  justify-content: center;
}

.about-title-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: absolute;
  width: 327px;
  height: 144px;
  margin-top: 40px;
}

.about-title-tag > h4 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin: 0;
}

.about-title-tag > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 271px;
  height: 88px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-social-icons > li {
  margin-right: 16px;
}

.about-title-tag > ul > li {
  background: #fff;
  border-radius: 8px;
  list-style: none;
  padding: 12px;
}

.about-title-tag > ul > li > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  margin: 0;
}

#contact-form {
  height: 780px;
  display: block;
  margin-top: 1589px;
}

#contact-form h3 {
  height: 363px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 0;
  color: #172b4d;
  text-align: center;
}

#contact-form form {
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 34px;
  padding-left: 24px;
  padding-right: 24px;
}

#contact-form form input {
  height: 48px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 24px;
  width: 100%;
}

#contact-form form textarea {
  height: 114px;
  border: 1px solid #60c095;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 24px;
  width: 100%;
}

#contact-form form button {
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 129px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  border: none;
  margin-top: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  align-items: stretch;
  text-align: center;
  letter-spacing: 0.03em;
}

#contact-form form input[placeholder] {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  padding: 15px 16px;
}

#contact-form form textarea[placeholder] {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
  padding: 15px 16px;
}

#contact-form form button:active {
  background: #008552;
}

.footer-social-icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 300px;
}

footer a {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  text-decoration: none;
}

aside {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.desktop-version-illustration {
  display: none;
}

.desktop-menu {
  display: none;
}

.dt-img-1,
.dt-img-2 {
  display: none;
}

.contact-illustrayion-1,
.contact-illustrayion-2,
.contact-illustrayion-3 {
  display: none;
}

@media only screen and (min-width: 768px) {
  .desktop-version-illustration {
    display: block;
  }

  .mobile-version-illustration {
    display: none;
  }

  .navigation {
    position: absolute;
    background-color: unset;
    justify-content: center;
    align-items: center;
  }

  .headline-section {
    padding-top: 0;
  }

  .logo,
  .menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
    height: 40px;
    margin: 0;
    padding: 0;
  }

  .desktop-menu li {
    list-style: none;
    height: 40px;
    width: 87px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  footer > a {
    display: none;
  }

  .desktop-menu li a {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    text-decoration: none;
  }

  .heading-text > h1 {
    margin-top: 80px;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
  }

  .supporting-text {
    height: 90px;
    margin: 0;
    padding: 12px 142px;
  }

  .social-icons {
    margin-top: 32px;
  }

  .work-container {
    grid-template-columns: auto auto;
  }

  main {
    height: 1711px;
  }

  #about-me {
    top: 2506px;
    height: 1096px;
  }

  .about-me-text p {
    padding: 0 60px;
  }

  .img-1,
  .img-2 {
    display: none;
  }

  .dt-img-1 {
    display: block;
    margin-top: -62px;
    float: right;
    width: 131px;
    height: 134px;
  }

  .dt-img-2 {
    display: block;
    margin-top: 148px;
    float: left;
    width: 138px;
    height: 109px;
  }

  .about-me-card {
    margin-top: 0;
    width: unset;
    grid-template-columns: auto auto;
    height: 760px;
  }

  #contact-form {
    margin-top: 1360px;
  }

  #contact-form h3 {
    height: 160px;
  }

  footer {
    margin-bottom: 0;
  }

  aside {
    display: block;
  }

  aside img {
    display: none;
  }

  .contact-illustrayion-1 {
    display: block;
    width: 236px;
    height: 261.09px;
  }

  .contact-illustrayion-2 {
    left: 224px;
    top: 4325px;
    display: block;
    position: absolute;
    width: 130.28px;
    height: 105.85px;
  }

  .contact-illustrayion-3 {
    display: block;
    width: 162px;
    height: 254px;
    position: absolute;
    top: 4244px;
    right: 0;
  }

  footer div img {
    width: 100%;
    position: absolute;
    height: 1px;
    background: #dfe1e6;
  }
}

@media only screen and (min-width: 1100px) {
  .work-container {
    grid-template-columns: auto auto auto;
  }

  .supporting-text {
    padding: 12px 222px;
  }

  main {
    height: 1200px;
  }

  #about-me {
    top: 2000px;
    height: 290px;
  }

  .about-me-text p {
    padding: 0 320px;
  }

  .about-me-text {
    height: 290px;
  }

  .dt-img-1 {
    width: 212px;
    height: 245px;
    margin-top: -120px;
  }

  .dt-img-2 {
    width: 220px;
    height: 129.24px;
    margin-top: 78px;
  }

  .about-me-card {
    grid-template-columns: auto auto auto;
    height: 370px;
  }

  #contact-form {
    height: 400px;
    display: flex;
    margin-top: 960px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #contact-form h3 {
    width: 463px;
    height: 256px;
    font-size: 30px;
  }

  #contact-form form {
    width: 684px;
    height: 330px;
  }

  .contact-illustrayion-1 {
    position: absolute;
    top: 3184px;
    width: 167px;
  }

  .contact-illustrayion-2 {
    left: 268px;
    top: 3273px;
    width: 72px;
    height: 67.18px;
  }

  .contact-illustrayion-3 {
    top: 3032px;
    width: 180px;
    height: 450.96px;
  }

  .footer-social-icons {
    margin-top: 26px;
  }

  footer {
    height: 71px;
    margin-top: 200px;
  }
}
